*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(238, 235, 235);
}
#left-side{
    height: 100vh;
    width:20vw;
    background-color: #2563eb;
    padding: 25px;
    color: white;
    font-size: 25px;
    gap: 50px;
}
#left-side svg{
    width: 30px;
    height: 30px;
    color: white;
}
.leftside-title{
    display: flex;
    gap: 5px;
    font-size: 40px;
    font-weight: bolder;
    height: 55px;
    margin-bottom: 10px;
}
#left-side .leftside-title svg{
    height: 55px;
    width: 55px;
}
.list-part{
    display: flex;
    flex-direction: column;
    gap: 50px;  
}
#left-side ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#left-side li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#left-side li:hover{
    text-decoration: underline;
    display: flex;
}
