*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: row;
    background-color: rgb(182, 180, 180);
}
#left-side{
    height: 100vh;
    width:20%;
    background-color: #2563eb;
    padding: 25px;
    color: white;
    font-size: 25px;
    gap: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
}
#left-side svg{
    width: 30px;
    height: 30px;
    color: white;
}
.leftside-title{
    display: flex;
    gap: 15px;
    font-size: 40px;
    font-weight: bolder;
    height: 55px;
    margin-bottom: 10px;
}
#left-side .leftside-title svg{
    height: 55px;
    width: 55px;
}
.list-part{
    display: flex;
    flex-direction: column;
    gap: 50px;  
    margin-top: 50px;
}
#left-side ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
#left-side li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#left-side li:hover{
    text-decoration: underline;
    display: flex;
}
#right-side{
    width: 80%;
}
.header{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    box-shadow:  0px 2px rgba(33, 33, 34, 0.2);
    padding: 15px 10px 10px 20px;
    gap: 20px;
}
.header-top{
    /* background-color: blue; */
    height: 8.5vh;
    display: flex;
    align-items: center;
    gap:50px;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.header-top-left{
    display: flex;
    gap: 10px;
    align-items: center;
    /* background-color: green; */
}
.header-top-left input{
    height: 40px;
    width: 480px;
    border-radius: 20px;
    padding-left: 20px;
    border: 0px;
    border-color: azure;
    color: black;
    background-color: rgb(214, 203, 203);
}
.header-top-left svg{
    height: 30px;
    width: 30px;
}
.header-top-right{
    display: flex;
    flex-direction: row;
    gap:28px;
    padding-right: 30px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    justify-content: end;
}
.header-top-right svg{
    height: 30px;
    width: 30px;
}
.icon path {  
    fill: #fff;
}
.header-top-right svg:hover{
    height: 34px;
    width: 34px;
    opacity: 90%;
}
.header-top-right  img{
    border-radius: 50%;
    height:45px;
    width: 45px;
}
.header-buttom{
    height: 10vh;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: space-between;
}
.header-buttom-left{
    display: flex;
    gap: 25px;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 20px;
}
.header-buttom-left img{
    height: 70px;
    width: 70px;
}
.header-buttom-right{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 50px;
}
.header-buttom-right div{
    height: 37px;
    width: 100px;
    color: #fff;
    background-color: #2563eb;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.header-buttom-right div:hover{
    opacity: 70%;
}

/*content part*/
.right-content{
    margin: 15px;
    /* background-color: aqua; */
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: space-around;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(2 , 200px);
    gap: 10px;
}
.project{
    background-color: orange;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: end;
}
.inner-project{
    background-color: #fff;
    height: 200px;
    width: 210px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    padding-left: 15px;
}
.inner-project-top h3:hover{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 25px;
}
.inner-project-buttom{
    display: flex;
    gap: 5px;
    justify-content: end;
    padding-right: 15px;
}
.inner-project-buttom svg{
    height: 30px;
    width: 30px;
}
.inner-project-buttom .bookmark:hover{
    fill: rgb(255, 166, 0);
}
.inner-project-buttom .delete:hover{
    fill: rgb(255, 7, 7);
}
.inner-project-buttom .share:hover{
    fill: blue;
}
.content-right{
    /* background-color: green; {for testing}*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}
.announcement-container{
    width: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.announcement .ann-title{
    font-weight: bolder;
}
.trending-content{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    gap: 15px;
}
.trending{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.trending .name {
    display: flex;
    flex-direction: column;
}
.trending img{
    height: 50px;
    width: 50px;
}